//fonts
$google-font: "https://fonts.googleapis.com/css?family=Ubuntu:400,500";

$baseFontSize: 16px;
$baseFontFamily: "Ubuntu", sans-serif;
$mediumFontWeight: 500;

//colors
$titleText: #1d1d1d;
$grey: #818181;
$white: #fff;
