.container-top {
  background: url(#{$imagesPath}bg.jpg) no-repeat;
  background-size: cover;
}

.header {
  @include display(flex);
  @include align-items(center);
  padding-top: 50px;

  margin-bottom: 250px;

  @include e(logo) {
    background: url(#{$imagesPath}logo.png) no-repeat;
    width: 109px;
    height: 18px;
    text-indent: -9999px;
    margin: 0 auto 0 0;
  }
}

.nav {
  @include e(link) {
    font-family: $Lato;
    font-weight: $mediumFontWeight;
    font-size: rem(14px);
    color: $white;
    margin-right: 40px;
    text-decoration: none;
    padding-bottom: 4px;
    overflow: hidden;

    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 2px;
      background: $white;
      position: absolute;
      bottom: 0;
      transition: all 1s;
    }
    &:hover::before {
      width: 100%;
    }

    &:focus::before {
      width: 100%;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      border-color: $white;
    }
  }
}

.header-content {
  margin-bottom: 250px;
  padding: 0 270px;
  text-align: center;

  @include e(title) {
    font-family: $Raleway;
    font-weight: $boldFontWeight;
    font-size: rem(48px);
    text-transform: uppercase;
    color: $white;

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 2px;
      background: $white;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 40px;
    }
  }

  @include e(text) {
    font-family: $Lato;
    font-size: rem(22px);
    line-height: rem(30px);
    color: $white;
  }
}

.scroll-top {
  width: 50px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 45px;

  @include e(shape) {
    fill: #808b90;
    transition: fill 1s;

    .scroll-top:hover & {
      fill: lighten(#808b90, 30%);
    }
  }
}
