.work {
  @include e(title) {
    font-family: $Raleway;
    font-weight: $boldFontWeight;
    font-size: rem(35px);
    text-transform: uppercase;
    text-align: center;
    padding-top: 115px;

    &::after {
      content: "";
      display: block;
      width: 85px;
      height: 2px;
      background: #000;
      margin: auto;
      margin-top: 70px;
      margin-bottom: 90px;
    }
  }

  @include e(block) {
    @include display(flex);
    @include justify-content(space-between);
  }

  @include e(item) {
    flex-basis: 370px;

    &:hover::before {
      content: "";
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      font-family: $Lato;
      font-size: rem(22px);
      text-transform: uppercase;
      position: absolute;
      top: 0px;
      padding-top: 170px;
      padding-bottom: 228px;
      color: $white;
      text-align: center;
    }
    &:focus::before {
      content: "";
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      font-family: $Lato;
      font-size: rem(22px);
      text-transform: uppercase;
      position: absolute;
      top: 0px;
      padding-top: 170px;
      padding-bottom: 228px;
      color: $white;
      text-align: center;
    }

    &:hover::after {
      content: url("../i/link.png");
      width: 100%;
      position: absolute;
      top: 250px;
      color: $white;
      text-align: center;
    }
    &:focus::after {
      content: url("../i/link.png");
      width: 100%;
      position: absolute;
      top: 250px;
      color: $white;
      text-align: center;
    }

    @include m(kinder) {
      background: url(#{$imagesPath}kinder.png) no-repeat;
      background-position: center;
      padding-top: 420px;
      position: relative;

      &:hover::before {
        content: "kinderen planet";
      }

      &:focus::before {
        content: "kinderen planet";
      }
    }

    @include m(airline) {
      background: url(#{$imagesPath}airlines.png) no-repeat;
      background-position: center;
      padding-top: 420px;

      position: relative;

      &:hover::before {
        content: "jetindus airlines";
      }

      &:focus::before {
        content: "jetindus airlines";
      }
    }

    @include m(trimplement) {
      background: url(#{$imagesPath}trimplement.png) no-repeat;
      background-position: center;
      padding-top: 420px;

      position: relative;

      &:hover::before {
        content: "trimplement";
      }

      &:focus::before {
        content: "trimplement";
      }
    }
  }

  @include e(more) {
    font-family: $Lato;
    font-size: rem(24px);
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    padding: 20px 150px;
    display: block;
    width: 370px;
    margin: 80px auto;
    transition: all 1s;

    &:hover {
      color: #fff;
      background: #000;
    }

    &:focus {
      color: #fff;
      background: #000;
    }
  }
}
