body{
	font-family: 'Open Sans';
	background: #70b6e2;
	padding: 0;	
	margin: 0;
	color: #fff;
	box-sizing: border-box;
	margin: 138px 0 160px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main{
	background: #fff;
	/*width: 866px;*/
	flex: 0 0 866px;
	height: 562px;
	display: flex;
	flex-flow: row nowrap;
}
.left{
	flex: 0 1 356px;	
	background-color: rgba(0, 92, 138, 0.6);
	background-image: url("bg01.png");
	padding: 0 0 0 65px;	
	color: #fff;
}
h1{
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 222px;	
}
.underline{
	width: 92px;
	height: 4px;
	background: #fff;
	margin-bottom: 40px;
}
.leftP{
	width: 249px;
	color: #c9e7fa;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	padding-right: 45px;	
	margin-bottom: 188px;	
}

.right{
	background: #fff;
	flex: 0 1 510px;
	padding: 115px 105px 0 140px;	
}
h2{
	color: #70b6e2;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.rightP{
	color: #616161;
	font-family: "Myriad Pro";
	font-size: 14px;
	font-weight: 400;
}
.hidden{
	visibility: hidden;
	margin-bottom: 0;			
	color: #70b6e2;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}
input, button{
	width: 300px;	
	/*height: 42px;*/
	border: none;
	border-radius: 2px;
}
input{
	border: 1px solid #ced8ea;
	height: 42px;
}
input[placeholder]{
	box-sizing: border-box;
	padding: 0 10px;
}
button{	
	margin-top: 28px;	
	background: #70b6e2;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	padding: 13px 0;
}
.padlock{
	display: inline-block;
	margin: 0 10px;
}
.lastP{
	color: #616161;
	font-size: 12px;
	font-weight: 400;
}
a{
	color: #70b6e2;
	text-decoration: underline;
}

@media all and (max-width: 750px) {
	body{
		margin: 0;
	}
	.main{
		flex-flow: column;
		flex: 0 0 100%;
	}
	.left, .right{
		flex: 0 1 100%;
		padding-left: 85px;
	}
	.right{
		padding: 50px 105px 50px 85px;	
	}
	h1{
		margin-top: 100px;
	}
	.leftP{
		margin-bottom: 50px;
	}
}