//fonts
$google-font: "https://fonts.googleapis.com/css?family=Lato:100,400|Raleway:400,700";

$baseFontSize: 16px;
// $baseFontFamily: "Ubuntu", sans-serif;
$Lato: "Lato", sans-serif;
$Raleway: "Raleway", sans-serif;

$thinFontWeight: 100;
$mediumFontWeight: 500;
$boldFontWeight: 700;

// Paths

$imagesPath: "../i/";
$fontsPath: "../fonts/";

// Colors
$mainColor: #222222;
$black: #000000;
$white: #ffffff;
$colorTopIcon: #808f96;
